/** Add css rules here for your application. */

.gwt-Label-fullname {
	font-family: Times New Roman;
	font-size: 18px;
	color: #555;
}

.FHS-MarkerInfoScrollMargin {
margin-left:10px;
}

.FHS-VarScrollMargin {
margin-left:5px;
}

.FHS-TablesListBox {
border-style:solid;
border-width:1px;
border-color:#888888;
}

.FHS-ProjCellList{
cursor:pointer;
cursor:hand;
}

.FHS-TextBoxContactUs {
font:Arial;
color:#808080;
}

.FHS-VPProjDetails{
margin-left:10px;
}

.FHS-ButtonBrowseData{
color:#FFFFFF;
background-color:#028502;
font-family: 'Volkhov', serif;
font-weight:bold;
text-align:center;
border-style:double;
cursor:pointer;
cursor:hand;
}

.FHS-DecoratorPanelContactUs {
border-style:solid;
border-width:2px;
border-color:#028502;
background-color:#FFFFFF;
moz-border-radius: 20px;
webkit-border-radius: 20px;
khtml-border-radius: 20px;
border-radius: 20px;
}

.FHS-HorizontalPanelSiteMap{
padding-left:2px;
padding-right:2px;
padding-bottom:2px;
}

.banner {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #aaa;
}

.gwt-Label-logo {
	font-size: 55px;
	font-family: Times New Roman;
	font-weight: bold;
	color: #028502;
}

.gwt-Label-title {
	font-size: 24px;
	font-weight: bold;
	font-family: Arial;
}

.gwt-Label-version {
	font-family: Courier;
	font-size: 12px;
	color: #777;
}

.FHS-verticalPanel {
background-color:#F5F5F5;
border:solid 1px #888888;
padding-left:10px;
padding-right:10px;
}

.FHS-RootHome {
margin-top:15px;
margin-left:45px;
margin-right:45px;
}

.FHS-HomeAbout {
padding-left:25px;
}

.fhs-HomeHPanel {
padding-top:9px;
margin-left:10px;
}

.fhs-HomeHPanel2 {
padding-top:10px;
}

.gwt-IntroHTML {
padding-right:10px;
}

.gwt-HTMLLink {
	font-family: Corbel, Verdana, Geneva, sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: #1C97D7;
}

.gwt-VPContactUs {
padding:15px;
}

.FHS-AboutUsGlass {
background-color:#EEEEEE;
opacity:0.7;
}